[tool.poetry]
name = "spectrafit"
version = "0.2.0"
description = "Fast fitting of 2D-Spectra with established routines"
readme = "README.md"
authors = ["ahahn <Anselm.Hahn@cec.mpg.de>"]
license = "BSD"
repository = "https://gitlab.gwdg.de/RIXSTools/spectrafit"
keywords = [
    "2D-Spectra",
    "fitting",
    "curve-fitting",
    "peak-fitting",
    "spectrum"
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Environment :: Console",
    "Framework :: Matplotlib",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Scientific/Engineering :: Physics",
    "Topic :: Scientific/Engineering :: Chemistry",
    "Topic :: Scientific/Engineering :: Information Analysis"
]
include = ["Examples/"]

[tool.poetry.dependencies]
python = ">=3.7.1,<3.10"
lmfit = "^1.0.2"
numpy = "^1.21.1"
pandas = "^1.3.0"
matplotlib = "^3.4.2"
seaborn = "^0.11.1"
tqdm = "^4.61.2"
scipy = "^1.7.0"
openpyxl = "^3.0.7"
toml = "^0.10.2"
PyYAML = "^5.4.1"
numdifftools = "^0.9.40"
tabulate = "^0.8.9"
statsmodels = "^0.12.2"

[tool.poetry.dev-dependencies]
pylama = "^7.7.1"
flake8 = "^3.9.2"
pylint = "^2.9.5"
mypy = "^0.910"
black = { version = "^21.7b0", allow-prereleases = true }
isort = "^5.9.2"
pytest = "^6.2.4"
pytest-clarity = "^1.0.1"
pytest-cov = "^2.12.1"
pytest-console-scripts = "^1.2.0"
pre-commit = "^2.13.0"
types-toml = "^0.1.3"
types-PyYAML = "^5.4.3"
mkdocs-material = "^7.2.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
spectrafit = "spectrafit.spectrafit:command_line_runner"

[tool.isort]
profile = "black"
force_single_line = true
atomic = true
include_trailing_comma = true
lines_after_imports = 2
lines_between_types = 1
use_parentheses = true
src_paths = ["poetry", "tests"]
skip_glob = ["*/setup.py"]
filter_files = true
known_first_party = "poetry"

[tool.black]
line-length = 88
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | tests/.*/setup.py
)/
'''
